<form class="dog-form" [formGroup]="form">
  <div>
    <input formControlName="name" type="text" placeholder="name">
    <div *ngIf="nameErrors" class="validation-errors">
      {{nameErrors}}
    </div>
  </div>
  <div>
    <input formControlName="age" type="number" placeholder="age">
    <div *ngIf="ageErrors" class="validation-errors">
      {{ageErrors}}
    </div>

  </div>
  <div>
    <select formControlName="race" placeholder="race" [compareWith]="compareFn">
      <option *ngFor="let c of races" [ngValue]="c">{{ c.name|json }}</option>
    </select>
  </div>

  <button type="button" [disabled]="!form.valid" (click)="onSubmit()">
    {{dog ? 'edit dog' : 'add dog'}}
  </button>
</form>