<div *ngIf="races$ | async as races; else loading">
    <app-dog-form [dog]="dog$ | async" [races]="races" (submit)="onSubimit($event)">
    </app-dog-form>
</div>
<div *ngIf="error">
    {{error}}
</div>
<ng-template #loading>
    Loading dog races...
</ng-template>