<div class="dog-list">

  <div *ngIf="dogs$ | async as dogs; else loading">


    <div class="message" *ngIf="!dogs.length && !(dogsError$ | async)">
      No dogs, add one to get started.
    </div>
    <div class="dog-list__new">
      <button class="btn btn__ok" routerLink="/dogs/new">
        New Dog
      </button>
    </div>

    <div *ngFor="let dog of dogs" class="dog-item">
      <h2>{{dog?.name}}</h2>
      <h3>{{dog?.age}}</h3>
      <h4>{{dog?.race?.name}}</h4>
      <div class="dog-item-button">
        <button [routerLink]="getRoute(dog)">edit</button>
        <button (click)="removeItem(dog)">delete</button>
      </div>
    </div>


  </div>
  <ng-template #loading>
    Loading dog dogs...
  </ng-template>




</div>